@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Sports Association Project!</h1>
    <p>This project is done by: Omar Ossama, Mohamed Ahmed, Yosef Koka & Nour Eldien Ayman</p>
</div>
