@model IEnumerable<SportAssociation.Models.Manager>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["alertMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["alertMessage"]');
    </script>
}

<h1>Welcome Stadium Manager</h1>

<div class="row">
    <div class="col-md-4">
        <hr>
        <a href="/host_request"
            <button class="w-100 btn btn-lg btn-primary">Manage Host Request</button>
        </a>
        <hr>
        <button class="w-100 btn btn-lg btn-primary" onclick="location.href='@Url.Action("viewStadiumInformation", "Managers")'">View all related information</button>

    </div>
</div>
