@model SportAssociation.Models.Representative

@{
    ViewData["Title"] = "Create";
}

@if(TempData["alertMessage"] != null)
{
    <script type="text/javascript">
        alert('@TempData["alertMessage"]');
    </script>
}

<h1>Register</h1>

<h4>Representative</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" maxlength="20" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ClubName" class="control-label">Club Name</label>
                <input name="ClubName" class="form-control" maxlength="20" required />
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" maxlength="20" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input name="Password" class="form-control" type="password" maxlength="20" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
