@model SportAssociation.Models.Host_Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Host_Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="representative_id" class="control-label"></label>
                <input asp-for="representative_id" class="form-control" />
                <span asp-validation-for="representative_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manager_id" class="control-label"></label>
                <input asp-for="manager_id" class="form-control" />
                <span asp-validation-for="manager_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_id" class="control-label"></label>
                <input asp-for="match_id" class="form-control" />
                <span asp-validation-for="match_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
