@model IEnumerable<SportAssociation.Models.System_Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome System Admin</h1>

<div class="row">
    <div class="col-md-4">
        <hr>
        <a href="/fans"
            <button class="w-100 btn btn-lg btn-primary">Manage Fan</button>
        </a>
        <hr>
        <a href="/stadia"
            <button class="w-100 btn btn-lg btn-primary">Manage Stadium</button>
        </a>
        <hr>
        <a href="/clubs"
            <button class="w-100 btn btn-lg btn-primary">Manage Club</button>
        </a>
    </div>
</div>
