@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
@if (Authentication.isAuthenticated)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" title="Manage">Hello @Authentication.username!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline">
            <button  type="button" class="nav-link btn btn-link text-dark" onclick="location.href='@Url.Action("Logout", "Super_User")'">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Super_User/Login">Login</a>
    </li>
}
</ul>
