@page
@model RegisterModel
@{
    ViewData["Title"] = "Register As";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <hr>
        <a href="/fans/create"
            <button class="w-100 btn btn-lg btn-primary">Fan</button>
        </a>
        <hr>
        <a href="/managers/create"
            <button class="w-100 btn btn-lg btn-primary">Stadium Manager</button>
        </a>
        <hr>
        <a href="/Association_Manager/create"
            <button class="w-100 btn btn-lg btn-primary">Association Manager</button>
        </a>
        <hr>
        <a href="/representatives/create"
            <button class="w-100 btn btn-lg btn-primary">Club Representative</button>
        </a>
    </div>
</div>
